.dark_background {
  background-color: black !important;
}

.dark_text {
  color: white !important;
}

.dark_borderColor {
  border-color: white !important;
}

.light_background {
  background-color: white !important;
}

.light_text {
  color: black !important;
}

.light_borderColor {
  border-color: black !important;
}