.container {
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
  align-items: center;
  opacity: 0;
  transform: translateY(20%);
}

/* .container_reverse {
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
  align-items: center;
  opacity: 0;
  transform: translateX(-40%);
} */

.container_anim {
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-delay: 0s;
  /* animation-play-state: paused;
  animation-name: itemAnim;
  animation-duration: 1s; */
}

/* @keyframes itemAnim {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

.imageContainer {
  margin-right: 2em;
}

.image {
  width: 7em;
  height: 7em;
}

.content {
  /* white-space: nowrap; */
}

.title {
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.date {
  margin-bottom: 0.5em;
}

.subTitle {
  font-weight: bold;
  margin-bottom: 0.2em;
}

.item {
  padding-left: 1em;
}

@media (max-width: 500px) {
  .imageContainer {
    width: 4em;
    height: 4em;
    margin-right: 1em;
  }

  .image {
    width: 4em;
    height: 4em;
  }
}