.container {
  overflow: hidden;
  /* height: 1500px; */
}

.content {
  display: flex;
}

.item {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.item img {
  width: 150px;
}

.item div {
  margin-right: 10px;
  font-size: 25px;
  white-space: nowrap;
}