.container {
  font-weight: bold;
  font-size: 2em;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 40px);
  height: 60px;
  top: 0;
  background-color: white;
  padding: 0 20px 0 20px;
  z-index: 10;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.bottomline {
  border-bottom: 1px solid;
}

.images {
  margin-right: 0;
  margin-left: auto;
}

.image {
  width: 1em;
  height: 1em;
  margin-left: .5em;
  cursor: pointer;
}